.btn-1-component {
  &__container {
    background-color: $color-white;
    @include flexRowCenter;
    width: 18rem !important;
    height: 5rem !important;
    color: $color-gray-dark;
    font-size: $font-size-7 !important;
    padding: 1rem !important;
    border-radius: 2rem !important;
    text-align: center;
    line-height: 1;
  }
}
